.hero-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.slogan {
  text-align: center;
  margin: 20px 0;
  font-size: xx-large;
}
  
.gallery-section {
  padding: 20px;
  text-align: center;
}
  
.gallery {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}
  
.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  border: 2px solid #ccc;


  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.gallery img:hover{
  transform: scale(2);
  border-color: #343434;
  box-shadow: 0 10px 25px #e9071c80;
  z-index: 2;
}